body, html {
    height: 100%;
    margin: 0;
    padding: 0;
/*     overflow: hidden; /* Ngăn cuộn toàn trang */
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.background-image {
    background-image: url('https://images.pexels.com/photos/1029618/pexels-photo-1029618.jpeg');
    background-size: cover; 
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh; 
    justify-content: center; 
    align-items: center; 
    padding: 20px; 
    position: relative; 
    overflow: hidden; /* Không cuộn nền */
}

.content-container {
    max-height: 80vh; /* Cố định chiều cao vùng nội dung */
    overflow-y: auto; /* Cho phép cuộn trong vùng nội dung */
}

.bai-viet {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 25px;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    background-color: #f8f9fa;
}

.bai-viet-content {
    font-size: 20px;
    line-height: 1.8;
}

@media (min-width: 768px) {
    .col-md-4 {
        flex: 0 0 auto;
        width: 32.333333%;
        padding-top: 24px;
    }
}
